.heading {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: flex;
  min-width: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .navList {
    flex-direction: row;
    gap: 2rem;
  }

  .navItem {
    min-width: fit-content;
  }
}
