.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.page_details {
  display: flex;
  gap: 2rem;
}

.page,
.content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.content {
  width: 100%;
}

.aside {
  min-width: max-content;
  margin-left: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--clr-secndry);
  border-radius: 0.25rem;
  padding: 2rem;
  box-shadow: var(--clr-shadow) 0 0.5rem 1.75rem 0;
}

.pagination {
  margin: auto;
}

@media (max-width: 768px) {
  .page {
    padding: 2rem 0.75rem;
    gap: 0.75rem;
  }

  .page_details {
    gap: 0.75rem;
  }

  .aside {
    min-width: fit-content;
  }

  .section {
    padding: 1.5rem 0.75rem;
  }
}
