.visually_hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.heading {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 8rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: var(--clr-tertry);
}

.subheading {
  margin: 0;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: var(--clr-header);
}

.text {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
  color: var(--clr-on-primary-41);
}

.btn {
  margin: 1rem 0;
}

@media (max-width: 992px) {
  .heading {
    font-size: 4.5rem;
  }

  .subheading {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
